zsh/.config/zsh/*
!zsh/.config/zsh/.zshrc
!zsh/.config/zsh/functions.zsh
!zsh/.config/zsh/alias.zsh
doom/.config/doom/*
!doom/.config/doom/config.org
!doom/.config/doom/misc/
!doom/.config/doom/themes/
fish/.config/fish/*
scripts
!fish/.config/fish/alias.fish
!fish/.config/fish/config.fish
!fish/.config/fish/themes/
tmux/.config/tmux/plugins
