configs/.config/zsh/*
!configs/.config/zsh/.zshrc
!configs/.config/zsh/functions.zsh
!configs/.config/zsh/alias.zsh
configs/.config/doom/*
!configs/.config/doom/config.org
!configs/.config/doom/misc/
!configs/.config/doom/themes/
configs/.config/fish/*
!configs/.config/fish/alias.fish
!configs/.config/fish/config.fish
!configs/.config/fish/env.fish
!configs/.config/fish/themes/
configs/.config/tmux/plugins
configs/.config/nvim/lua/packer_compiled.lua
