# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
export CARGO_HOME="$XDG_DATA_HOME"/cargo
export GTK_RC_FILES="$XDG_CONFIG_HOME"/gtk-1.0/gtkrc
export GTK2_RC_FILES="$XDG_CONFIG_HOME"/gtk-2.0/gtkrc
export XAUTHORITY="$XDG_RUNTIME_DIR"/Xauthority
export _Z_DATA="$XDG_DATA_HOME/z"
export LESSKEY="$XDG_CONFIG_HOME"/less/lesskey
export LESSHISTFILE="$XDG_CACHE_HOME"/less/history
export ZDOTDIR=$HOME/.config/zsh
export VIMINIT=":source $XDG_CONFIG_HOME"/vim/vimrc
export ANDROID_SDK_HOME="$XDG_CONFIG_HOME"/android
export HISTFILE="$XDG_DATA_HOME"/zsh/history
export WGETRC="$XDG_CONFIG_HOME/wgetrc"
export PATH="$HOME/.local/bin:$PATH"
